openapi: 3.1.0
info:
  title: Sessions LLM models API
  version: 1.0.0
servers:
- url: https://api.keyframelabs.com/v1
tags:
- name: LLM models
paths:
  /llm-models:
    get:
      tags:
      - LLM models
      operationId: listLlmModels
      security:
      - bearerAuth: []
      summary: List LLM models
      responses:
        '200':
          description: LLM models returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/KflLlmModel'
  /llm-models/{model_id}:
    get:
      tags:
      - LLM models
      operationId: getLlmModel
      security:
      - bearerAuth: []
      summary: Get LLM model
      parameters:
      - name: model_id
        in: path
        required: true
        schema:
          type: string
        description: LLM model ID
      responses:
        '200':
          description: LLM model returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KflLlmModel'
        '404':
          description: LLM model not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPExceptionResponse'
components:
  schemas:
    KflLlmModel:
      type: object
      additionalProperties: false
      required:
      - model_id
      - name
      - description
      properties:
        model_id:
          type: string
          description: LLM model ID
        name:
          type: string
          description: Display name for the LLM model
        description:
          type: string
          description: Description of the LLM model
    HTTPExceptionResponse:
      type: object
      additionalProperties: true
      required:
      - detail
      properties:
        detail:
          description: Error detail
          anyOf:
          - type: string
          - type: object
          - type: array
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
